//färgvariabler
$primaryBackground: #fff;
$primaryColor: #0845ee;
$darkerColor: darken($primaryColor, 40%);
$lighterColor: lighten($primaryColor, 20%);

//mixin för att centrera
@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}