//kod skriven av Anne-Lii Hansen VT 2024
@use "base";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


html {
    width: 100%;
}

body {
    width: 100%;
    background: base.$primaryBackground;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#container {
    width: 100%;
}

//hero till bakgrundsvideon
.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

//bakgrundsvideon
.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

//höjd och bredd på videobakgrunden justerat till skärmen
@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

//allt som ligger på videobakgrunden
#searchBar {
    text-align: center;
    max-width: 100%;

    h1 {
        font-size: 170px;
        max-width: 100%;
        color: #fff;
        font-weight: 600;
        padding-bottom: 100px;
    }

    h1:hover {
        -webkit-text-stroke: 3px #fff;
        color: transparent;
    }

    label {
        text-align: center;
        font-size: 60px;
        color: #fff;
        max-width: 100%;
    }

    input {
        width: 800px;
        max-width: 100%;
        height: 55px;
        border-radius: 5px;
        font-size: 40px;
        padding-left: 20px;
        color: grey;
    }

    //meddelande "minst 5 tecken" vid input
    #message {
        color: white;
        font-size: 30px;
    }

    #searchBtn {
        background-color: base.$evenlighterColor;
        height: 45px;
        width: 140px;
        max-width: 100%;
        padding: 10px 5px 0 0;
        border-radius: 5px;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
        margin: auto;
        margin-top: 20px;
    }

    #loadingAnimation {
        margin-top: 100px;
    }
    //felmeddelande
    #error_message {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #f80808;
        color: #fff;
        font-size: 50px;
        height: 100px;
        display: none;
    }
}

//rubriken med landet som skrivits in på inputfältet
#country {
    font-size: 120px;
    max-width: 90%;
    color: base.$lighterColor;
    padding: 100px 0 0 0;
    text-align: center;
}

//en grid container för att ha två spelter. en till vänster för dykplatserna och en till höger för kartan
#grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
}

//diven där alla divar med dykplatserna presenteras
#info_div {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 100px;
    max-width: 95%;

    div {
        padding: 15px;
        box-shadow: 1px 1px 10px black;
        margin: 20px;
        background: base.$evenlighterColor;
        color: white;
        max-width: 100%;

        h1:hover {
            cursor: pointer;
            font-size: 35px;
            text-decoration: underline;
        }
    }
}
//leaflet kartan
#map {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 500px;
    margin: 100px 40px 200px 0;
    max-width: 100%;

}

//wrapper till scrolla upp pilen
#wrapper {
    @include base.flexCenter;
    flex-direction: column;
}

//pilen längst ned på sidan som scrollar upp 
.material-symbols-outlined {
    background-color: base.$lighterColor;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    cursor: pointer;
}

@media screen and (max-width: 900px) {//layout för mindre skärmar än 900 pixlar
    #searchBar {
        h1 {
            font-size: 60px;
            max-width: 100%;
            padding-bottom: 50px;
        }

        h1:hover {
            -webkit-text-stroke: 1px #fff;

        }

        label {
            font-size: 25px;
        }

        input {
            width: 800px;
            max-width: 80%;
            height: 45px;
            font-size: 30px;
        }

        #searchBtn {
            height: 30px;
            width: 80px;
            max-width: 100%;
            font-size: 20px;
        }
    }

    #country {
        font-size: 70px;
        max-width: 100%;
        padding: 20px 0 0 0;

    }

    #grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    #map {
        grid-column: 1/2;
        grid-row: 1/2;
        height: 300px;
        margin: 10px;
    }


    #info_div {
        grid-column: 1/2;
        grid-row: 2/3;
        padding-top: 10px;
        max-width: 100%;

    }
}